n8n/zenOS_template_selector.json
{
  "name": "zenOS AI Post Template Selector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "template-selector",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Template Selector",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "zenOS-templates"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/k-dot-greyz/zenOS/main/ai_post_templates.yaml",
        "responseFormat": "string",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": false,
          "headers": {
            "User-Agent": "zenOS-n8n/1.0",
            "Cache-Control": "no-cache"
          },
          "queryParametersUi": {
            "parameter": [
              { "name": "_", "value": "={{ Date.now() }}" }
            ]
          }
        }
      },
      "id": "fetch-templates",
      "name": "Fetch Templates from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse YAML and generate fully-featured web UI\n// NOTE: Requires NODE_FUNCTION_ALLOW_EXTERNAL=js-yaml and NODE_FUNCTION_EXTERNAL_MODULES configured\nconst yaml = require('js-yaml');\n\n// Fix: HTTP Request node returns body, not data\n// Add try/catch for YAML parse errors\nlet templateData;\ntry {\n  templateData = yaml.load($input.first().json.body);\n} catch (e) {\n  return [{ json: { html: '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Error - zenOS</title><style>body{font-family:system-ui;display:flex;align-items:center;justify-content:center;min-height:100vh;background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:#fff;text-align:center;padding:20px}div{background:rgba(255,255,255,0.1);backdrop-filter:blur(10px);padding:40px;border-radius:20px;max-width:600px}</style></head><body><div><h1>❌ Invalid YAML</h1><p>Failed to parse templates: ' + String(e.message).replace(/</g, '&lt;') + '</p></div></body></html>' } }];\n}\nconst templates = templateData.ai_post_templates;\n\n// Validate templates exist\nif (!templates || typeof templates !== 'object') {\n  return [{ json: { html: '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Error - zenOS</title><style>body{font-family:system-ui;display:flex;align-items:center;justify-content:center;min-height:100vh;background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:#fff;text-align:center;padding:20px}div{background:rgba(255,255,255,0.1);backdrop-filter:blur(10px);padding:40px;border-radius:20px;max-width:600px}</style></head><body><div><h1>⚠️ Templates Not Found</h1><p>ai_post_templates not found in YAML or invalid format.</p></div></body></html>' } }];\n}\n\n// XSS protection: HTML escape function\nconst esc = (s = '') => String(s)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>zenOS AI Post Template Selector</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta name=\"description\" content=\"Select and copy AI post templates for social media\">\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        :root {\n            --primary: #667eea;\n            --secondary: #764ba2;\n            --bg-light: rgba(255, 255, 255, 0.95);\n            --bg-dark: rgba(26, 32, 44, 0.95);\n            --text-light: #2d3748;\n            --text-dark: #f7fafc;\n            --card-light: #f7fafc;\n            --card-dark: #2d3748;\n            --border-light: #e2e8f0;\n            --border-dark: #4a5568;\n        }\n        body {\n            font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n            background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n            transition: background 0.3s ease;\n        }\n        body.dark {\n            background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);\n        }\n        .container {\n            background: var(--bg-light);\n            backdrop-filter: blur(10px);\n            border-radius: 20px;\n            padding: 40px;\n            box-shadow: 0 20px 40px rgba(0,0,0,0.1);\n            max-width: 1000px;\n            width: 100%;\n            transition: all 0.3s ease;\n        }\n        body.dark .container {\n            background: var(--bg-dark);\n            color: var(--text-dark);\n        }\n        .header {\n            text-align: center;\n            margin-bottom: 30px;\n            position: relative;\n        }\n        .header h1 {\n            color: var(--text-light);\n            font-size: 2.5em;\n            font-weight: 700;\n            margin-bottom: 10px;\n            transition: color 0.3s;\n        }\n        body.dark .header h1 { color: var(--text-dark); }\n        .header p {\n            color: #718096;\n            font-size: 1.2em;\n        }\n        body.dark .header p { color: #a0aec0; }\n        .controls {\n            display: flex;\n            gap: 15px;\n            margin-bottom: 30px;\n            flex-wrap: wrap;\n            align-items: center;\n        }\n        .search-box {\n            flex: 1;\n            min-width: 200px;\n            position: relative;\n        }\n        .search-box input {\n            width: 100%;\n            padding: 12px 45px 12px 15px;\n            border: 2px solid var(--border-light);\n            border-radius: 50px;\n            font-size: 1em;\n            background: var(--card-light);\n            color: var(--text-light);\n            transition: all 0.3s;\n        }\n        body.dark .search-box input {\n            background: var(--card-dark);\n            border-color: var(--border-dark);\n            color: var(--text-dark);\n        }\n        .search-box input:focus {\n            outline: none;\n            border-color: var(--primary);\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);\n        }\n        .search-box::after {\n            content: '🔍';\n            position: absolute;\n            right: 15px;\n            top: 50%;\n            transform: translateY(-50%);\n            pointer-events: none;\n        }\n        .theme-toggle {\n            padding: 12px 20px;\n            border: 2px solid var(--border-light);\n            border-radius: 50px;\n            background: var(--card-light);\n            cursor: pointer;\n            font-size: 1.2em;\n            transition: all 0.3s;\n        }\n        body.dark .theme-toggle {\n            background: var(--card-dark);\n            border-color: var(--border-dark);\n        }\n        .theme-toggle:hover {\n            transform: scale(1.05);\n        }\n        .template-count {\n            padding: 8px 16px;\n            background: var(--primary);\n            color: white;\n            border-radius: 50px;\n            font-size: 0.9em;\n            font-weight: 600;\n        }\n        .templates {\n            display: grid;\n            gap: 20px;\n            margin-bottom: 30px;\n        }\n        .template-card {\n            background: var(--card-light);\n            border: 2px solid var(--border-light);\n            border-radius: 15px;\n            padding: 25px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            position: relative;\n            outline: none;\n        }\n        body.dark .template-card {\n            background: var(--card-dark);\n            border-color: var(--border-dark);\n        }\n        .template-card:hover, .template-card:focus {\n            border-color: var(--primary);\n            transform: translateY(-2px);\n            box-shadow: 0 10px 20px rgba(102, 126, 234, 0.15);\n        }\n        .template-card.selected {\n            border-color: var(--primary);\n            background: linear-gradient(135deg, rgba(102, 126, 234, 0.1), rgba(118, 75, 162, 0.1));\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);\n        }\n        .template-card.hidden { display: none; }\n        .template-title {\n            font-size: 1.5em;\n            font-weight: 600;\n            color: var(--text-light);\n            margin-bottom: 8px;\n        }\n        body.dark .template-title { color: var(--text-dark); }\n        .template-vibe {\n            font-size: 1em;\n            color: var(--primary);\n            font-weight: 500;\n            margin-bottom: 15px;\n        }\n        .template-text {\n            color: #4a5568;\n            line-height: 1.6;\n            font-style: italic;\n            background: #ffffff;\n            padding: 20px;\n            border-radius: 10px;\n            border-left: 4px solid var(--primary);\n            white-space: pre-wrap;\n            word-wrap: break-word;\n        }\n        body.dark .template-text {\n            background: #1a202c;\n            color: #cbd5e0;\n        }\n        .copy-btn {\n            background: linear-gradient(135deg, var(--primary), var(--secondary));\n            color: white;\n            border: none;\n            padding: 18px 40px;\n            border-radius: 50px;\n            font-size: 1.2em;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            display: block;\n            margin: 0 auto;\n            min-width: 250px;\n            outline: none;\n        }\n        .copy-btn:hover:not(:disabled) {\n            transform: translateY(-2px);\n            box-shadow: 0 10px 20px rgba(102, 126, 234, 0.3);\n        }\n        .copy-btn:focus {\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.3);\n        }\n        .copy-btn:disabled {\n            opacity: 0.5;\n            cursor: not-allowed;\n            background: #a0aec0;\n        }\n        .copy-btn.copied {\n            background: #38a169;\n            animation: pulse 0.5s;\n        }\n        @keyframes pulse {\n            0%, 100% { transform: scale(1); }\n            50% { transform: scale(1.05); }\n        }\n        .status {\n            text-align: center;\n            margin-top: 20px;\n            font-weight: 600;\n            font-size: 1.1em;\n            min-height: 24px;\n            transition: all 0.3s;\n        }\n        .status.success { color: #38a169; }\n        .status.error { color: #e53e3e; }\n        .footer {\n            text-align: center;\n            margin-top: 30px;\n            color: #718096;\n            font-style: italic;\n            font-size: 0.9em;\n        }\n        body.dark .footer { color: #a0aec0; }\n        .no-results {\n            text-align: center;\n            padding: 40px;\n            color: #718096;\n            font-size: 1.2em;\n        }\n        body.dark .no-results { color: #a0aec0; }\n        @media (max-width: 768px) {\n            .container { padding: 25px; }\n            .header h1 { font-size: 2em; }\n            .template-card { padding: 20px; }\n            .controls { flex-direction: column; }\n            .search-box { width: 100%; }\n        }\n        .sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🧠 zenOS AI Post Templates</h1>\n            <p>Choose your persona, copy your template, dominate social media</p>\n        </div>\n        \n        <div class=\"controls\">\n            <div class=\"search-box\">\n                <label for=\"searchInput\" class=\"sr-only\">Search templates</label>\n                <input type=\"text\" id=\"searchInput\" placeholder=\"Search templates...\" aria-label=\"Search templates\">\n            </div>\n            <button class=\"theme-toggle\" id=\"themeToggle\" aria-label=\"Toggle dark mode\" title=\"Toggle dark/light mode\">🌙</button>\n            <div class=\"template-count\" id=\"templateCount\">${Object.keys(templates).length} templates</div>\n        </div>\n        \n        <div class=\"templates\" role=\"listbox\" aria-label=\"Template selection\">\n            ${Object.entries(templates).map(([key, template], idx) => `\n                <div class=\"template-card\" data-key=\"${esc(key)}\" role=\"option\" tabindex=\"0\" aria-label=\"${esc(template.title)} - ${esc(template.vibe)}\" aria-selected=\"false\">\n                    <div class=\"template-title\">${esc(template.title)}</div>\n                    <div class=\"template-vibe\">📝 ${esc(template.vibe)}</div>\n                    <div class=\"template-text\">${esc(template.template)}</div>\n                </div>\n            `).join('')}\n        </div>\n        \n        <div id=\"noResults\" class=\"no-results\" style=\"display: none;\">\n            No templates found matching your search.\n        </div>\n        \n        <button class=\"copy-btn\" id=\"copyBtn\" disabled aria-label=\"Copy selected template to clipboard\">\n            Select a Template to Copy\n        </button>\n        \n        <div id=\"status\" class=\"status\" role=\"status\" aria-live=\"polite\"></div>\n        \n        <div class=\"footer\">\n            <p>Part of the zenOS ecosystem - where productivity meets personality ✨</p>\n            <p style=\"margin-top: 10px; font-size: 0.85em;\">Keyboard shortcuts: ↑↓ to navigate, Enter to select, Ctrl/Cmd+K to search</p>\n        </div>\n    </div>\n    \n    <script>\n        // Safe JSON embedding (prevent script injection)\n        const templates = ${JSON.stringify(templates).replace(/</g, '\\u003c')};\n        let selectedTemplate = null;\n        let selectedKey = null;\n        let filteredKeys = Object.keys(templates);\n        let currentIndex = 0;\n        \n        // Dark mode\n        const isDark = localStorage.getItem('zenos-dark-mode') === 'true';\n        if (isDark) document.body.classList.add('dark');\n        \n        function updateThemeToggle() {\n            const btn = document.getElementById('themeToggle');\n            btn.textContent = document.body.classList.contains('dark') ? '☀️' : '🌙';\n        }\n        \n        function toggleTheme() {\n            document.body.classList.toggle('dark');\n            localStorage.setItem('zenos-dark-mode', document.body.classList.contains('dark'));\n            updateThemeToggle();\n        }\n        \n        function filterTemplates(query) {\n            const q = query.toLowerCase().trim();\n            if (!q) {\n                filteredKeys = Object.keys(templates);\n            } else {\n                filteredKeys = Object.keys(templates).filter(key => {\n                    const t = templates[key];\n                    return t.title.toLowerCase().includes(q) ||\n                           t.vibe.toLowerCase().includes(q) ||\n                           t.template.toLowerCase().includes(q);\n                });\n            }\n            \n            const cards = document.querySelectorAll('.template-card');\n            const noResults = document.getElementById('noResults');\n            let visibleCount = 0;\n            \n            cards.forEach(card => {\n                const key = card.dataset.key;\n                if (filteredKeys.includes(key)) {\n                    card.classList.remove('hidden');\n                    visibleCount++;\n                } else {\n                    card.classList.add('hidden');\n                }\n            });\n            \n            noResults.style.display = visibleCount === 0 ? 'block' : 'none';\n            document.getElementById('templateCount').textContent = `${visibleCount} of ${Object.keys(templates).length} templates`;\n            \n            // Auto-select first visible template\n            if (filteredKeys.length > 0 && !filteredKeys.includes(selectedKey)) {\n                selectTemplate(filteredKeys[0]);\n                currentIndex = 0;\n            }\n        }\n        \n        function selectTemplate(key) {\n            if (!filteredKeys.includes(key)) return;\n            \n            const cards = Array.from(document.querySelectorAll('.template-card:not(.hidden)'));\n            cards.forEach(c => {\n                c.classList.remove('selected');\n                c.setAttribute('aria-selected', 'false');\n            });\n            \n            const card = cards.find(c => c.dataset.key === key);\n            if (card) {\n                card.classList.add('selected');\n                card.setAttribute('aria-selected', 'true');\n                card.focus();\n            }\n            \n            if (!templates[key]) return;\n            selectedTemplate = templates[key].template;\n            selectedKey = key;\n            currentIndex = filteredKeys.indexOf(key);\n            \n            const btn = document.getElementById('copyBtn');\n            btn.disabled = false;\n            btn.textContent = 'Copy \"' + templates[key].title + '\" to Clipboard';\n        }\n        \n        function navigateTemplates(direction) {\n            if (filteredKeys.length === 0) return;\n            \n            if (direction === 'up') {\n                currentIndex = currentIndex > 0 ? currentIndex - 1 : filteredKeys.length - 1;\n            } else {\n                currentIndex = currentIndex < filteredKeys.length - 1 ? currentIndex + 1 : 0;\n            }\n            \n            selectTemplate(filteredKeys[currentIndex]);\n        }\n        \n        async function copyToClipboard() {\n            if (!selectedTemplate) return;\n            \n            const btn = document.getElementById('copyBtn');\n            const originalText = btn.textContent;\n            \n            try {\n                await navigator.clipboard.writeText(selectedTemplate);\n                btn.classList.add('copied');\n                btn.textContent = '✅ Copied!';\n                showStatus('✅ Template copied to clipboard! Ready to post and dominate.', 'success');\n                console.log('zenOS Template copied:', selectedKey, new Date().toISOString());\n                \n                setTimeout(() => {\n                    btn.classList.remove('copied');\n                    btn.textContent = originalText;\n                }, 2000);\n            } catch (err) {\n                console.error('Copy failed:', err);\n                showStatus('❌ Copy failed. Please manually copy the selected template text.', 'error');\n            }\n        }\n        \n        function showStatus(message, type) {\n            const status = document.getElementById('status');\n            status.textContent = message;\n            status.className = 'status ' + type;\n            setTimeout(() => {\n                status.textContent = '';\n                status.className = 'status';\n            }, 4000);\n        }\n        \n        // Initialize\n        document.addEventListener('DOMContentLoaded', () => {\n            updateThemeToggle();\n            \n            // Theme toggle\n            document.getElementById('themeToggle').addEventListener('click', toggleTheme);\n            \n            // Search\n            const searchInput = document.getElementById('searchInput');\n            searchInput.addEventListener('input', (e) => filterTemplates(e.target.value));\n            \n            // Template card clicks\n            document.querySelector('.templates').addEventListener('click', (e) => {\n                const card = e.target.closest('.template-card');\n                if (!card || card.classList.contains('hidden')) return;\n                selectTemplate(card.dataset.key);\n            });\n            \n            // Keyboard navigation\n            document.addEventListener('keydown', (e) => {\n                // Ctrl/Cmd+K to focus search\n                if ((e.ctrlKey || e.metaKey) && e.key === 'k') {\n                    e.preventDefault();\n                    searchInput.focus();\n                    return;\n                }\n                \n                // Arrow keys for navigation\n                if (e.key === 'ArrowUp' || e.key === 'ArrowDown') {\n                    e.preventDefault();\n                    navigateTemplates(e.key === 'ArrowUp' ? 'up' : 'down');\n                    return;\n                }\n                \n                // Enter to copy\n                if (e.key === 'Enter' && document.activeElement.classList.contains('template-card')) {\n                    e.preventDefault();\n                    copyToClipboard();\n                    return;\n                }\n                \n                // Escape to clear search\n                if (e.key === 'Escape' && document.activeElement === searchInput) {\n                    searchInput.value = '';\n                    filterTemplates('');\n                    searchInput.blur();\n                }\n            });\n            \n            // Copy button\n            document.getElementById('copyBtn').addEventListener('click', copyToClipboard);\n            \n            // Auto-select first template\n            if (filteredKeys.length > 0) {\n                selectTemplate(filteredKeys[0]);\n            }\n        });\n    </script>\n</body>\n</html>`;\n\nreturn [{ json: { html: html, templates: templates } }];"
      },
      "id": "generate-ui",
      "name": "Generate Beautiful Web UI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Referrer-Policy",
                "value": "no-referrer"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond with UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook - Template Selector": {
      "main": [
        [
          {
            "node": "Fetch Templates from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Templates from GitHub": {
      "main": [
        [
          {
            "node": "Generate Beautiful Web UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Beautiful Web UI": {
      "main": [
        [
          {
            "node": "Respond with UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": ["zenOS", "templates", "automation"],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T03:22:00.000Z",
  "versionId": "1.0.0"
}